<!DOCTYPE html>
<html>
<head>
    <title>CRUD operation test</title>
    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Django Tests</h1>
    <p>This application is used to test the CRUD operation in Django. All of the work can be seen
    in the tests.py file. Please check the file to see the various tests made for this app.</p>
    <p style = "margin-top: 1000px;">Did you just scroll all the way down to see what was in
    this page? Fine. Here's a cake for your amusement.</p>
    <img src = "https://derpicdn.net/img/2013/8/21/406084/medium.jpeg" alt = "MMMM"/>
</body>
</html>